#menu-item-type {
  background: #eee;
  border: 1px solid #ddd;
  color: #777;
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;
}
#menu-item-type .form-item {
  position: static;
}
#menu-item-type .form-type-radios > label {
  float: left;
  margin-right: 10px;
}
#menu-item-type .form-type-radios .form-item {
  margin-right: 10px;
}
#menu-item-type .progress-disabled {
  float: none;
}
#menu-item-type .ajax-progress {
  float: right;
}
#menu-item-type .ajax-progress .message {
  padding: 0;
}

div.messages.status.view {
  background-image: none;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
  display: inline;
  font-size: x-small;
  font-style: italic;
  margin: 0;
  padding: 2px 8px;
}

/* Fix fieldset legends for Rubik and Vertical Tabs */
.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane legend {
  display: block;
}
.vertical-tabs > .vertical-tabs-panes > .vertical-tabs-pane > legend {
  display: none;
}